* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --darker: #371B58;
    --dark: #4E31AA;
    --light: #892CDC;
    --lighter: #D4ADFC;
    --hover: #7a41ff;
    --white: white;
}

.btn {
    min-width: 25%;
    font-size: 30px !important;
    padding: 20px 0px !important;
}

.time {
    background-color: var(--darker);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 620px) {
    .time {
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
        min-height: 220px;
    }

    .btn {
        width: 75%;
        font-size: 20px !important;
        padding: 5px !important;
    }
}

#roww {
    font-size: x-large;
}

@media only screen and (max-width: 500px) {
    #roww {
        font-size: small;
    }

    #message {
        font-size: medium;
    }
}

.btn1{
    background-color: var(--dark) !important;
    color: var(--white) !important;
    font-size: 20px !important;
    margin-bottom: 1.5rem;
}
.btn1:hover{
    background-color: var(--hover) !important;
    color: var(--white) !important;
    background-color:var(--hover) !important;
}