*{
    margin:0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
}
:root {
    --darker: #371B58;
    --dark: #4E31AA;
    --light: #892CDC;
    --lighter: #D4ADFC;
    --hover: #7a41ff;
    --white: white;
}
.container{
    display:flex;
}
.sidebar{
    background: var(--darker);
    color: var(--lighter) ;
    min-height:100vh;
    width:250px;
    transition: all 0.4s;
}
.top_section{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100px;
    border-bottom: 1px solid gray;
}
.logo{
    font-size: 30px;
    /* text-align: center  ; */
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 100px;
}
.link{
    display: flex;
    color: var(--lighter) ;
    padding: 10px 20px;
    gap: 15px;
    transition: all 0.5s;
    text-decoration: none;
    margin: 10px 0px;
    width: 100%;
}

/* .link:focus{
    background:  var(--white) ;
    color: var(--darker);
    border-radius:30px 0px 0px 30px;
} */

.link:hover:not(:active){
    background:  var(--lighter) ;
    color: var(--darker);
    border-radius:20px;
    transition: all 0.5s;
}
.icon, .link_text{
    font-size: 22px;
}
main{
    width: 100%;
    padding: 20px;
}

/* <div className={`d-flex justify-content-center ${sidebarStyle.icon}`}><FiLogOut/></div> */